body {
      max-width: 800px;
      margin: 0 auto;
      background-color: rgb(255, 255, 255);
}

* {
   margin: 0px;
   box-sizing: border-box;
}


h1 {
    background-color: rgb(0, 0, 0);
    font-size: 32px;
    text-align: center;
    color: white;
    padding: 30px;
    border: none;
    margin: 0 0 30px;
    height: 100px;
    width: auto;

}

ul {
    height: 200px;
    width: 170px;
    border: 3px solid black;
    margin: 2px;
}

.recipe {
    margin: 20px -10px;
    text-align: left;
    

}